<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ask %><br>
    <%= f.text_area :ask %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :dummy1 %><br>
    <%= f.text_field :dummy1 %>
  </div>
  <div class="field">
    <%= f.label :dummy2 %><br>
    <%= f.text_field :dummy2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<form id="question-form" class="container">
  <div class='col-md-12'>
    <h3> Please start entering your questions here:</h3>
    <label>Question</label>
    <input type="text" class="question" placeholder="Insert question here - don't forget the '?'">
  </div>
  <div class='col-md-6'>
    <label>Answer</label>
    <input type="text" class="answer" placeholder="Insert answer here">
  </div>
  <div class='col-md-6'>
    <label>Dummy1</label>
    <input type="text" class="dummy1" placeholder="Insert 1st dummy answer here">
  </div>
  <div class='col-md-6'>
    <label>Dummy2</label>
    <input type="text" class="dummy2" placeholder="Insert 2nd dummy answer here">
  </div>
  <div class='col-md-6'>
    <label>url</label>
    <input type="text" class="url" placeholder="Insert link to relevant media (Optional)">
  </div>
  <div class='col-md-4'>
    <button id="question-create" class="btn btn-warning">Create New Question</button>
  </div>
</form>